<%- include('includes/_head') %>

  <div class="container">
    <h1>Log In</h1>
    <% if (error) { %>
      <p class="msg">
        Your username or password is incorrect.
      </p>
      <% } %>
        <form action="/admin/login" method="post">
          <div class="formgroup">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
          </div>
          <div class="formgroup">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
          </div>
          <button type="submit">Log In</button>
  </div>
  </form>


  <%- include('includes/_foot') %>